html,
body,
.backbox{
    position: relative;
    height: 400px;
    /*background: darkgray;*/
}

#titlebox{

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 50px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-left: 5px;
    text-align: center;
    background: darkgray;
}

#map-id {
    height: 150%;
    width: 600px;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 5px;
    margin-right: 25px;
    margin-bottom: 5px;
    margin-left: 50px;

}

#boozyplot {

    /*margin-top: 5px;*/
    
    margin-right: 5px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 10px;
    background-color: darkgray;

}

#rateplot {

    /*margin-top: 5px;*/
    position:relative;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    background-color: darkgray;
}

#list{
    height: 100%;
    padding: 10;
    margin: 10;
}

#beerlist{
    height: 200px;
    overflow-y: scroll;
}


.beerbutton {
    display: block;
    background: none;
    border: none;
    text-align: left;
}

.beerinfo {
    display: block;
}
.tooltip{
    background: "white";
}