<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Kansas City Beer</title>
  <!-- CSS FILE -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>KC Beer Page!</h1>
        <p>Use the interactive charts below to explore KC Brewery</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="well">
          <h5>SELECT Brewery:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <p>Latest Tweet</p>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <p>Scatter Plot Goes HERE</p>
        <div id="scatter"></div>
      </div>
      <div class="col-md-5">
        <p>DATA Table Goes HERE</p>
        <div id="gauge"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> -->
  <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->

</body>

</html>
